## Contents

1. [Importing Libraries](#1.-Importing-Libraries)    
	1.1. [Importing Dataframes](#1.1-Importing-Dataframes)   
2. [Checking Dataframes](#2.-Checking-Dataframes)   
3. [Merging Dataframes](#3.-Merging-Dataframes)   
4. [Exporting Merged Dataframe](#4.-Exporting-Merged-Dataframe)

## 1. Importing Libraries

In [27]:
import pandas as pd
import numpy as np
import os

###  1.2. Importing Data

In [28]:
# Folder path
path = r'C:\Users\User 1\Documents\Instacart Basket Analysis 04-2023'

In [29]:
# Import orders_checked.csv
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

I imported 'orders_wrangled' instead of 'orders_checked' because for some reason I don't have any data in orders_checked, it came out to be 1kb. So I went through the wrangling stages again (below) which involved removing the 'eval_set' column and renaming one of the columns. Additionally, since there were no manipulation required for data consistencies which was checked in the previous task, it was safe to proceed.

In [30]:
# Import orders_products_prior.csv
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

## 2. Checking Dataframes

In [31]:
# Check the output for df_ords_prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [32]:
# Check the output for df_ords
df_ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [33]:
# Dropping eval_set column from orders.csv
df_ords = df_ords.drop(columns = ['eval_set'])

In [34]:
# Renaming Columns
df_ords.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [35]:
# Check the output for df_ords
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [36]:
# Checking the dataframe size
df_ords_prior.shape

(32434489, 4)

In [37]:
# Checking dataframe size
df_ords.shape

(3421083, 6)

## 3. Merging Dataframes

In [38]:
# Merge df_ords and df_ords_prior
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [39]:
# Check output for merged dataframes
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [40]:
# Check value counts for full match
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

## 4. Exporting Merged Dataframe

In [43]:
# Export df_merged_large as .pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))