## Contents

1. [Importing Libraries](#1.-Importing-Libraries)    
	1.1. [Importing Dataframes](#1.1-Importing-Dataframes)   
2. [Checking the shape of the imported dataframes](#2.-Checking-the-shape-of-the-imported-dataframe)   
3. [Determine a suitable way to combine the orders_products_combined dataframe with your products data set](#3.-Determine-a-suitable-way-to-combine-the-orders-products-combined-dataframe-with-your-products-data-set)   
4. [Merging the data](#4.-Merging-the-data)   
5. [Exporting the dataframe into a pickle format](#5.-Exporting-the-datafarme-into-a-pickle-format)

## 1. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

### 1.2. Importing Data

In [2]:
# Folder Path
path = r'C:\Users\User 1\Documents\Instacart Basket Analysis 04-2023'

In [3]:
# Import orders_products_combined.pkl
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
# Import products_checked.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

## 2. Check the shape of the imported dataframes

In [5]:
# Checking the shape and output of the imported dataframe
df_orders_products_combined.shape

(32434489, 10)

In [6]:
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

The shape and output of the imported dataframe corresponds to the shape and output of the exported dataframe.

In [7]:
# Checking the shape and output of the imported dataframe
df_prods.shape

(49672, 5)

In [8]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

The shape and output of the imported dataframe corresponds to the shape and output of the exported dataframe

## 3. Determine a suitable way to combine the orders_products_combined dataframe with your products data set

Product_id is the common denominator of both dataframes

## 4. Merging the data

In [9]:
# Drop '_merge' column for df_orders_products_combined
df_orders_products_combined = df_orders_products_combined.drop(columns = ['_merge'])

In [10]:
df_merged = df_orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

In [12]:
#Checking the output for df_merged
df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [13]:
# Checking value counts for '_merge' column
df_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [14]:
# Check df_merged size
df_merged.shape

(32404859, 14)

## 5. Exporting the dataframe into a pickle format

In [15]:
df_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))